<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="https://exposit.github.io/katamoiran/">design blog</a>
        <a class="page-link" href="{{ site.baseurl }}/">about</a>

        {% for page in site.pages %}
          {% if page.navlink %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.navlink }}</a>
          {% endif %}
        {% endfor %}

        <a class="page-link" href="https://github.com/exposit/pythia-oracle">tools</a>

      </div>
    </nav>

  </div>

</header>
